<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantívora</title>
    <link rel="stylesheet" href="../style/anima.css">
    <link rel="icon" href="../statics/media/img/fresa.jpg" type="image/x-icon"> 
</head>

<body>
    <!-- Plantívora -->
    <div id="flor">
        <img src="../statics/media/img/flor.png" width="90" height="90">
    </div>

    <div id="flor1">
        <img src="../statics/media/img/flor.png" width="90" height="90">
    </div>

    <h1>Plantivora</h1>

    <div id="mariquita">
        <img src="../statics/media/img/what.png" width="90" height="70">
    </div>
    <h2 id="header">Ropa y Accesorios para Organismos Fotosintéticos</h2>

    <!-- ¿Quien es Plantívora? -->
    <div class="descripcion">
        Plantivora es una pequeña marca de ropa y accesorios encargada de resaltar los atributos
        de nuestras amigas productoras de oxígeno. Si sus pétalos, tallos u hojas no te parecen 
        suficientes... ¡adórnalas!
    </div>
    
    <!-- Nuestros productos -->
    <h3 id="header">¡Mira nuestros productos!</h3>
    
    <div class="carteles">

            <!-- Cartel 1 -->
            
            <div id="tit">Ojos Moviles</div>

            <div id="blank1"></div>
            <div id="blank2"></div>
            <div id="pup1"></div>
            <div id="pup2"></div>

            <hr>
                <h5>$100.00</h5>
            <hr>

            <p class="descripciones">
                Ojos movibles hechos a base de 
                fibra de aguacate y caña de azucar.
                Atrae a los polinizadores.
            </p>

            <!-- Cartel 2 -->
            
            <div id="tit">Gorrito de fiesta</div>

            <div class="figura2">
                <img id="img1" src="../statics/media/img/R.png" height="200" width="180">
            </div>

            <hr>
                <h5>$250.00</h5>
            <hr>

            <p class="descripciones">
                Gorrito de fiesta artesanal 
                fabricado a partir de cartón reciclado
                extraído de debajo de un puente. 
                Los colores son hechos a partir de
                extractos de cáscaras rescatadas de los
                tiraderos municipales.
                Protege contra las plagas
            </p>
         
            <!-- Cartel 3 -->

            <div id="tit">Sombrero de Paja</div>

            <div class="figura3">
                <img id="img2" src="../statics/media/img/omg.png" height="180" width="200">
            </div>

            <hr>
                <h5>$200.00</h5>
            <hr>

            <p class="descripciones">
                Sombrero de paja de terreno
                baldío. Tejido a mano por nuestros
                mejores artesanos con arresto 
                domiciliario. Ideal para espantar
                depredadores como pájaros, roedores,
                orugas, entre otros.
            </p>
        </div>
    

</body>
</html>